* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: #1f1f1f;
  letter-spacing: 0.3px;
}

.ant-card-head-title {
  font-weight: 600 !important;
  font-size: 15px !important;
}
